BLUESKY_USERNAME="seu-handle.bsky.social"
BLUESKY_PASSWORD="xxxx-xxxx-xxxx-xxxx" # Use uma App Password

TWITTER_APP_KEY="xxxxxxxxxxxx"
TWITTER_APP_SECRET="xxxxxxxxxxxx"
TWITTER_ACCESS_TOKEN="xxxxxxxxxxxx"
TWITTER_ACCESS_SECRET="xxxxxxxxxxxx"